@import "tailwindcss";

/* ----------------------- */
/*   Shared Theme Classes  */
/* ----------------------- */

.theme-btn,
.dark .theme-btn {
  @apply bg-purple-600 text-white;
}

.white-text{
  color: white !important;
}
.black-text{
  color: black !important;
}

.theme-text,
.dark .theme-text {
  @apply text-purple-600;
}

.theme-div-white{
  @apply bg-[#ffffff]
}

.theme-dashboard-card{
  @apply  bg-[#ffffff] border-gray-500
}
.dark .theme-dashboard-card{
  @apply  bg-black/30
}

.theme-text-black,
.dark .theme-text-black {
  @apply text-black;
}

.theme-text-white,
.dark .theme-text-white {
  @apply text-white;
}

.theme-div {
  @apply bg-white;
}
  
.dark .theme-div {
  @apply bg-[#1B1B1B];
}
.gray-bg {
  @apply bg-[#f7f7f7];
}
.dark .gray-bg {
  @apply bg-[#242323];
}

/* ----------------------- */
/*     Global Elements     */
/* ----------------------- */

body label {
  @apply text-gray-500;
}

body input {
  @apply placeholder:text-gray-500;
}

/* ----------------------- */
/*      Light Theme        */
/* ----------------------- */

body {
  @apply bg-[#f4f4f4] text-gray-900 min-h-screen;
}

body a {
  @apply text-purple-600;
}

/* ----------------------- */
/*       Dark Theme        */
/* ----------------------- */

.dark body {
  @apply bg-[#121212] text-gray-100 min-h-screen;
}

.dark body a {
  @apply text-white;
}


footer .social-link, .dark footer .social-link{
  /* @apply text-purple-600 hover:text-white; */
  @apply p-2 bg-white text-purple-600 rounded-full hover:bg-purple-600 transition hover:text-white;
}